* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "poppins";
}
::-webkit-scrollbar {
  background-color: #ffffff00 !important;
  display: none;
}
.app {
  position: relative;
}

.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 0;
  background-color: tomato;
  transition: height .3s ease;
  z-index: 9999;
}
